@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

picture {
  line-height: 0;
}

p,
ul,
figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

h1, h2, h3 {
  font-weight: 400;
}

h2, h3, h4 {
  color: #666666;
}

h1 {
  margin: 0 0 30px;
  color: #4c5866;
  font-size: 60px;
  line-height: 1;
}

h2 {
  margin: 0 0 20px;
  font-size: 40px;
  line-height: 1;
}

h3 {
  margin: 0 0 8px;
  font-size: 30px;
  line-height: 1.172;
}

h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ebebeb;
}

.header {
  width: 100%;
  min-width: 1140px;
  height: 80px;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}

.inner {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 90px 15px;
}

.header .inner,
.footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.header .logo {
  width: 140px;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav_item {
  display: inline-block;
}

.txt_btn_plain {
  display: inline-block;
  height: 24px;
  padding: 0 5px;
  margin: 0 -5px;
  color: #4c5866;
  font-size: 20px;
  background: transparent;
}

.txt_btn_plain:hover {
  color: #7875fe;
}

.txt_btn_plain:focus {
  background-color: #dad9fb;
}

.txt_btn_plain:active {
  color: #4946b4;
}

.nav_icon-block {
  display: flex;
  gap: 30px;
}

.search,
.login {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
}

.search {
  background-image: url("ui.svg#search");
}

.search:hover {
  background-image: url("ui.svg#search_hover");
}

.search:focus {
  background-image: url("ui.svg#search_hover");
  background-color: #dad9fb;
}

.search:active {
  background-image: url("ui.svg#search_active");
  background-color: transparent;
}

#search_form {
  position: relative;
  width: 257px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_input {
  width: 224px;
  height: 26px;
  padding: 0 21px 0 0;
  border-radius: 0;
  color: #4c5866;
  font-size: 20px;
  line-height: 25px;
  border: none;
  border-bottom: 1px solid #d1d1e5;
}

.search_input::placeholder {
  color: #d1d1e5;
  opacity: 1;
}

.search_input::-ms-input-placeholder {
  color: #d1d1e5;
}

.search_input:focus {
  outline: 0;
}

.escape {
  width: 16px;
  height: 16px;
  border: none;
  background-image: url("ui.svg#escape");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.escape:hover {
  background-image: url("ui.svg#escape_hover");
}

.escape:focus {
  background-image: url("ui.svg#escape_focus");
}

.escape:active {
  background-image: url("ui.svg#escape_active");
}

#search_form .escape {
  position: absolute;
  top: 5px;
  right: 0;
}

.login {
  background-image: url("ui.svg#login");
}

.login:hover {
  background-image: url("ui.svg#login_hover");
}

.login:focus {
  background-image: url("ui.svg#login_hover");
  background-color: #dad9fb;
}

.login:active {
  background-image: url("ui.svg#login_active");
  background-color: transparent;
}

.main-block:nth-child(odd) {
  background-color: #ffffff;
}

#intro .inner {
  padding: 130px 680px 130px 15px;
  background-image: url("../img/main-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom 0 right 15px;
}

.description {
  color: #85859b;
  font-size: 18px;
  line-height: 1.7;
}

#intro .description {
  margin-bottom: 30px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  width: 255px;
  padding: 20px 50px;
  color: #7875fe;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  background: #ffffff;
  border: 1px solid #7875fe;
}

.btn:hover {
  color: #ffffff;
  background-color: #7875fe;
}

.btn:focus {
  background-color: #dad9fb;
}

.btn:active {
  color: #ffffff;
  background-color: #4946b4;
  border-color: #4946b4;
}

.examples {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.card {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 350px;
  height: 139px;
  padding: 19px 0 1px 0;
  border-top: 1px solid #c0c0c0;
}

.card img {
  width: 160px;
}

#about .article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: inline-block;
  width: 350px;
}

#about .column {
  margin: auto 0 auto 30px
}

.paragraph {
  margin-bottom: 10px;
}

#products .inner {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 255px;
}

.product img {
  width: 255px;
  height: 180px;
  margin-bottom: 17px;
  object-fit: cover;
}

.desc_secondary {
  margin-bottom: 8px;
  color: #b5b5bd;
  font-size: 14px;
  line-height: 1.172;
}

.product .description {
  margin-bottom: 20px;
}


.txt_btn_arrow {
  display: inline-block;
  padding: 4px;
  margin: -4px;
  font-size: 20px;
  color: #7875fe;
}

.txt_btn_arrow::after {
  display: inline-block;
  width: 21px;
  height: 15px;
  margin-left: 5px;
  background-image: url("ui.svg#arrow");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
}

.txt_btn_arrow:hover {
  color: #4946b4;
}

.txt_btn_arrow:hover::after {
  background-image: url("ui.svg#arrow_hover");
}

.txt_btn_arrow:focus {
  background-color: #dad9fb;
}

.txt_btn_arrow:active {
  color: #4946b4;
}

.txt_btn_arrow:active::after {
  width: 28px;
  background-image: url("ui.svg#arrow_active");
}

.brands_list {
  display: flex;
  justify-content: space-between;
}

.brand {
  width: 255px;
  height: 135px;
  border: 1px solid #c4c4c4;
}

.brand img {
  width: 100%;
}

#featured .inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

#featured h2 {
  margin: 25px 0 8px;
}

#featured img {
  width: 730px;
  height: 410px;
  object-position: top;
  object-fit: cover;
}

#featured .description {
  padding-bottom: 30px;
}

.footer {
  width: 100%;
  height: 101px;
  background-color: #4c5866;
}

.footer .inner {
  height: 80px;
}

.footer .logo {
  fill: #ffffff;
}

.socials {
  height: 24px;
}

.socials-item {
  display: inline-block;
  margin-left: 26px;
}

.social {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
}

.social:focus {
  background-color: #7875fe;
}

.social:active {
  background-color: transparent;
}

.facebook {
  background-image: url("../img/socials.svg#facebook");
}

.facebook:hover {
  background-image: url("../img/socials.svg#facebook_hover");
}

.facebook:active {
  background-image: url("../img/socials.svg#facebook_active");
}

.twitter {
  background-image: url("../img/socials.svg#twitter");
}

.twitter:hover {
  background-image: url("../img/socials.svg#twitter_hover");
}

.twitter:active {
  background-image: url("../img/socials.svg#twitter_active");
}

.instagram {
  background-image: url("../img/socials.svg#instagram");
}

.instagram:hover {
  background-image: url("../img/socials.svg#instagram_hover");
}

.instagram:active {
  background-image: url("../img/socials.svg#instagram_active");
}

.youtube {
  background-image: url("../img/socials.svg#youtube");
}

.youtube:hover {
  background-image: url("../img/socials.svg#youtube_hover");
}

.youtube:active {
  background-image: url("../img/socials.svg#youtube_active");
}

.copyright {
  height: 21px;
  color: #4c5866;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  background-color: #ebebeb;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}