@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h2,
h3,
h4 {
  color: #666666;
}

h1 {
  margin: 0 0 30px;
  color: #4c5866;
  font-size: 60px;
  line-height: 1;
}

h2 {
  margin: 0 0 15px;
  font-size: 40px;
  line-height: 1;
}

h3 {
  margin: 0 0 8px;
  font-size: 30px;
  line-height: 1.172;
}

h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

picture {
  line-height: 0;
}

p,
ul,
figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

sub,
sup {
  font-size: 60%;
}

body {
  min-width: 1140px;
  font-family: Roboto, sans-serif;
  background-color: #ebebeb;
}

.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}

.inner {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 90px 15px;
}

.header .inner,
.footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.header .logo {
  width: 140px;
}

.nav_menu {
  display: flex;
  gap: 60px;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav_item {
  display: inline-block;
}

.nav_open-list,
.nav_close-list {
  display: none;
}

.txt_btn_plain {
  display: inline-block;
  height: 24px;
  padding: 0 5px;
  margin: 0 -5px;
  color: #4c5866;
  font-size: 20px;
  background: transparent;
}

.txt_btn_plain:hover {
  color: #7875fe;
}

.txt_btn_plain:focus {
  background-color: #dad9fb;
}

.txt_btn_plain:active {
  color: #4946b4;
}

.nav_icon-block {
  display: flex;
  gap: 30px;
}

.search,
.login {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
}

.search {
  background-image: url("../img/ui.svg#search");
}

.search:hover {
  background-image: url("../img/ui.svg#search_hover");
}

.search:focus {
  background-image: url("../img/ui.svg#search_hover");
  background-color: #dad9fb;
}

.search:active {
  background-image: url("../img/ui.svg#search_active");
  background-color: transparent;
}

#search_form {
  position: relative;
  width: 257px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_input {
  width: 224px;
  height: 26px;
  padding: 0 21px 0 0;
  border-radius: 0;
  color: #4c5866;
  font-size: 20px;
  line-height: 25px;
  border: none;
  border-bottom: 1px solid #d1d1e5;
}

.search_input::placeholder {
  color: #d1d1e5;
  opacity: 1;
}

.search_input::-ms-input-placeholder {
  color: #d1d1e5;
}

.search_input:focus {
  outline: 0;
}

.escape {
  width: 16px;
  height: 16px;
  border: none;
  background-image: url("../img/ui.svg#escape");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.escape:hover {
  background-image: url("../img/ui.svg#escape_hover");
}

.escape:focus {
  background-image: url("../img/ui.svg#escape_focus");
}

.escape:active {
  background-image: url("../img/ui.svg#escape_active");
}

#search_form .escape {
  position: absolute;
  top: 5px;
  right: 0;
}

.login {
  background-image: url("../img/ui.svg#login");
}

.login:hover {
  background-image: url("../img/ui.svg#login_hover");
}

.login:focus {
  background-image: url("../img/ui.svg#login_hover");
  background-color: #dad9fb;
}

.login:active {
  background-image: url("../img/ui.svg#login_active");
  background-color: transparent;
}

.main-block:nth-child(odd) {
  background-color: #ffffff;
}

#intro .inner {
  padding: 130px 680px 130px 15px;
  background-image: url("../img/main-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom 0 right 15px;
}

.description {
  color: #85859b;
  font-size: 18px;
  line-height: 1.7;
}

#intro .description {
  margin-bottom: 30px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  width: 255px;
  padding: 20px 50px;
  color: #7875fe;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  background: #ffffff;
  border: 1px solid #7875fe;
}

.btn:hover {
  color: #ffffff;
  background-color: #7875fe;
}

.btn:focus {
  background-color: #dad9fb;
}

.btn:active {
  color: #ffffff;
  background-color: #4946b4;
  border-color: #4946b4;
}

.examples {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.examples .description {
  line-height: 1.5;
}

.card {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 350px;
  height: 139px;
  padding: 19px 0 0;
  border-top: 1px solid #c0c0c0;
}

.card img {
  width: 160px;
}

#about .article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: inline-block;
  width: 350px;
  flex-shrink: 0;
}

#about .column {
  margin: auto 0 auto 30px
}

.paragraph {
  margin-bottom: 12px;
}

#products .inner {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 255px;
}

.product img {
  width: 100%;
  height: 180px;
  margin-bottom: 17px;
  object-fit: cover;
}

.desc_secondary {
  margin-bottom: 8px;
  color: #b5b5bd;
  font-size: 14px;
  line-height: 1.172;
}

.product .description {
  margin-bottom: 20px;
}


.txt_btn_arrow {
  display: inline-block;
  padding: 4px;
  margin: -4px;
  font-size: 20px;
  color: #7875fe;
}

.txt_btn_arrow::after {
  display: inline-block;
  width: 21px;
  height: 15px;
  margin-left: 5px;
  background-image: url("../img/ui.svg#arrow");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
}

.txt_btn_arrow:hover {
  color: #4946b4;
}

.txt_btn_arrow:hover::after {
  background-image: url("../img/ui.svg#arrow_hover");
}

.txt_btn_arrow:focus {
  background-color: #dad9fb;
}

.txt_btn_arrow:active {
  color: #4946b4;
}

.txt_btn_arrow:active::after {
  width: 28px;
  background-image: url("../img/ui.svg#arrow_active");
}

.brands_list {
  display: flex;
  justify-content: space-between;
}

.brand {
  width: 255px;
  height: 135px;
  border: 1px solid #c4c4c4;
}

.brand img {
  width: 100%;
}

#featured .inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

#featured h2 {
  margin: 25px 0 8px;
}

#featured img {
  width: 730px;
  height: 410px;
  object-position: top;
  object-fit: cover;
}

#featured .description {
  padding-bottom: 30px;
}

.footer {
  width: 100%;
  height: 101px;
  background-color: #4c5866;
}

.footer .inner {
  height: 80px;
}

.footer .logo {
  fill: #ffffff;
}

.socials {
  height: 24px;
}

.socials-item {
  display: inline-block;
  margin-left: 26px;
}

.socials-item:first-child {
  margin-left: 0;
}

.social {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
}

.social:focus {
  background-color: #7875fe;
}

.social:active {
  background-color: transparent;
}

.facebook {
  background-image: url("../img/socials.svg#facebook");
}

.facebook:hover {
  background-image: url("../img/socials.svg#facebook_hover");
}

.facebook:active {
  background-image: url("../img/socials.svg#facebook_active");
}

.twitter {
  background-image: url("../img/socials.svg#twitter");
}

.twitter:hover {
  background-image: url("../img/socials.svg#twitter_hover");
}

.twitter:active {
  background-image: url("../img/socials.svg#twitter_active");
}

.instagram {
  background-image: url("../img/socials.svg#instagram");
}

.instagram:hover {
  background-image: url("../img/socials.svg#instagram_hover");
}

.instagram:active {
  background-image: url("../img/socials.svg#instagram_active");
}

.youtube {
  background-image: url("../img/socials.svg#youtube");
}

.youtube:hover {
  background-image: url("../img/socials.svg#youtube_hover");
}

.youtube:active {
  background-image: url("../img/socials.svg#youtube_active");
}

.copyright {
  height: 21px;
  color: #4c5866;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  background-color: #ebebeb;
}

/* ------------------- Tablet_690 ------------------- */
@media (max-width: 1109px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 22px;
  }

  body {
    min-width: 690px;
  }

  .header {
    height: 106px;
  }

  .inner {
    width: 100%;
    padding: 60px 39px;
  }

  .header .inner {
    position: relative;
    align-items: flex-start;
    padding: 10px 0 0;
  }

  .header .logo {
    position: absolute;
    left: 39px;
    top: 11px;
  }

  .nav_menu {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
  }

  .nav_text-block {
    justify-content: space-between;
    width: 100%;
    padding: 18px 39px;
    border-top: 1px solid #dddddd;
  }

  .nav_icon-block {
    margin: 0 35px 0 200px;
  }

  #search_form {
    margin: -1px 0;
  }

  #intro .inner {
    padding: 65px 339px 65px 39px;
    background-image: url("../img/main-tab690.png");
    background-position: bottom 0 right 39px;
  }

  .examples {
    padding-bottom: 40px;
  }

  .card {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0;
    width: calc(33.33% - 20px);
    height: 219px;
    padding: 19px 0 0;
  }

  #about .article {
    align-items: flex-start;
  }

  #about .article picture,
  #about .article .column {
    width: calc(50% - 15px);
  }

  #about .article img {
    width: 100%;
  }

  #products .inner {
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 30px;
  }

  .product {
    width: calc(50% - 15px);
  }

  #brands .inner {
    max-width: 800px;
    margin: 0 auto;
  }

  .brand {
    width: 150px;
    height: 80px;
  }

  #featured .inner {
    max-width: 839px;
    margin: 0 auto;
    padding-right: 0;
  }

  #featured .column {
    width: 330px;
  }

  #featured h2 {
    margin: 0 0 22px;
  }

  #featured img {
    min-width: 290px;
    max-width: 440px;
    height: 334px;
    margin-left: 30px;
    object-position: left;
  }

  .footer .inner {
    padding: 0 39px;
  }

}

/* ------------------- Tablet_510px ------------------- */
@media (max-width: 689px) {
  h1 {
    font-size: 38px;
    margin-bottom: 18px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 14px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 4px;
  }

  h4 {
    font-size: 16px;
  }

  body {
    min-width: 510px;
  }

  .inner {
    padding: 60px 33px;
  }

  .header .logo {
    left: 33px;
  }

  .nav_icon-block {
    margin-right: 33px;
  }

  #search_form {
    width: 230px;
  }

  .search_input {
    width: 197px;
  }

  .nav_text-block {
    gap: 25px;
    padding: 18px 33px;
  }

  #intro .inner {
    padding: 60px 258px 60px 33px;
    background-image: url("../img/main-tab510.png");
    background-position: bottom 0 right 33px;
  }

  .description {
    font-size: 16px;
  }

  #intro .description {
    margin-bottom: 20px;
  }

  .btn {
    width: 196px;
    padding: 14px 20px;
  }

  .card {
    height: 203px;
  }

  .card img {
    width: 150px;
  }

  #about .article picture {
    width: auto;
  }

  #about .article {
    flex-wrap: wrap;
  }

  #about .article .column {
    width: 100%;
    margin: 18px 0 0;
  }

  .product img {
    margin-bottom: 14px;
  }

  #products .inner {
    row-gap: 40px;
  }

  .brands_list {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .brand {
    width: 240px;
    height: 127px;
  }

  #featured .inner {
    flex-direction: column-reverse;
    padding: 60px 33px;
  }

  #featured img {
    width: 450px;
    height: auto;
    margin: 0 auto 15px;
  }

  #featured .column {
    width: 100%;
  }

  #featured h2 {
    margin-bottom: 20px;
  }

  .footer .inner {
    padding: 0 33px;
  }
}

/* ---------------------- Mobile ---------------------- */
@media (max-width: 509px) {
  h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  body {
    min-width: 320px;
  }

  .inner {
    padding: 60px 15px;
  }

  .header .inner {
    flex-wrap: wrap;
    padding: 0;
  }

  .header .logo {
    position: static;
    margin: 11px auto;
  }

  .nav_menu {
    justify-content: space-between;
    border-top: 1px solid #dddddd;
    padding: 15px;
  }

  .nav_open-list,
  .nav_close-list {
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .nav_open-list {
    background-image: url("../img/ui.svg#menu_open");
  }

  .nav_close-list {
    margin-bottom: -2px;
    background-image: url("../img/ui.svg#menu_close");
  }

  .nav_text-block {
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 44px);
    padding: 15px;
    background-color: #ebebeb;
  }

  .txt_btn_plain {
    font-size: 18px;
    margin-bottom: 22px;
  }

  .nav_icon-block {
    margin: 0 0 0 auto;
  }

  #search_form {
    width: 210px;
    margin-right: -16px;
  }

  .search_input {
    width: 177px;
    font-size: 18px;
  }

  #intro .inner {
    background-image: none;
    padding: 49px 16px;
  }

  #intro .description {
    font-size: 14px;
  }

  .btn {
    width: 144px;
    padding: 11px 20px;
    font-size: 18px;
  }

  .examples {
    flex-wrap: wrap;
  }

  .card {
    flex-wrap: nowrap;
    gap: 30px;
    width: 100%;
    align-items: center;
    height: 116px;
    margin-bottom: 19px;
  }

  .card img {
    width: 130px;
  }

  #products .inner {
    row-gap: 60px;
  }

  .product {
    width: 100%;
  }

  .product .description {
    margin-bottom: 25px;
  }

  #brands .inner {
    height: 80px;
    margin: 60px 0;
    padding: 0;
    overflow: hidden;
  }

  .brands_list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    padding-bottom: 20px;
  }

  .brand {
    width: 150px;
    height: 80px;
    flex-shrink: 0;
  }

  .brand:first-child {
    margin-left: 15px;
  }

  .brand:last-child {
    margin-right: 15px;
  }

  #featured .inner {
    padding: 60px 16px;
  }

  #featured h2 {
    margin-bottom: 18px;
  }

  #featured img {
    width: 100%;
    margin: 0;
  }

  .footer {
    height: 148px;
  }

  .footer .inner {
    flex-direction: column;
    height: 127px;
    padding: 0 15px;
  }

  .footer .logo {
    margin: 20px auto;
  }

  .footer .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    border-top: 1px solid #dddddd;
  }

  .socials-item:not(:first-child) {
    margin-left: 30px;
  }
}

/* ---------------- Общие модификаторы ---------------- */
.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.no-scroll {
  overflow: hidden;
}